<div class="container-fluid login-screen">
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="row justify-content-md-center">
                <div class="youtube-frame align-middle " >
                    <div id="cubeCarousel">
                        <div id="cubeSpinner">
                            <div class="face one">
                                 <img class="img_slider active img-fluid" src="../../../assets/images/y-image3.jpg">
                            </div>
                        </div>


                        </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 pt-5 login-option">
            <div class="">
            <h3 style="color: #fff;">Login with your youtube account to stream live comments.</h3>
                <button (click)="socialSignIn('google')" class="btn btn-danger">  
                Login with Google  
                </button> 
            </div>
        </div>
    </div>
</div>

<!-- <div class="container" style="padding-top:60px;">  
    <div class="row">  
        <div class="col-md-6 mx-auto">  
            <div class="card-group">  
                <div class="card p-4">  
                    <div class="card-body">  
                        <form name="form">  
                            <!-- <button class="btn btn-primary" style="text-align:center">Login</button> >  
                            <button type="submit" class="btn btn-block btn-success">Login</button>  
                            <div style="padding-top: 20px;" class="input-group mb-3">  
                                <div class="input-group-prepend">  
                                    <span class="input-group-text"><i class="icon-user"></i></span>  
                                </div>  
                                <input type="text" name="UserName" class="form-control sty1" placeholder="Email"  
                                    required>  
                            </div>  
                            <div class="input-group mb-4">  
                                <div class="input-group-prepend">  
                                    <span class="input-group-text"><i class="icon-lock"></i></span>  
                                </div>  
                                <input type="password" name="Passward" class="form-control" placeholder="Password">  
                            </div>  
                            <div>  
                                <p style="color:#E92626;font-size:20px;font-weight:normal" Class="success" align="left">  
                                    {{errorMessage}}  
                                </p>  
                            </div>  
                            <div class="row">  
                                <div class="col-6">  
                                    <button type="submit" class="btn btn-primary px-4">Login</button>  
                                </div>  
                                <div class="col-6 text-right">  
                                    <button type="button" class="btn btn-link px-0">Forgot password?</button>  
                                </div>  
                            </div>  
                        </form>  
                            <hr style="border-top: 1px solid #eee;">  
                            <div class="row">  
                                <div class="col-6">  
                                    <button (click)="socialSignIn('facebook')" class="loginBtn loginBtn--facebook">  
                                        Login with Facebook  
                                    </button>  
                                </div>  
                                <div class="col-6 text-right">  
                                    <button (click)="socialSignIn('google')" class="loginBtn loginBtn--google">  
                                        Login with Google  
                                    </button>  
                                </div>  
                            </div>  
                    </div>  
                </div>  
            </div>  
        </div>  
    </div>  
</div> -->