<!-- <div class="container-fluid">
    <div class="row">
        <div class="d-none d-md-block col-md-8 col-lg-9"></div>
        <div class="col-12 col-md-4 col-lg-3 text-right">
            <nav style="background-color: #fafafa !important" class="navbar navbar-expand-lg navbar-light bg-light">  
                <div>    
                    <form class="form-inline my-2 my-lg-0">  
                        <a class="nav-link">{{this.socialusers.name}} <span class="sr-only"></span></a>  
                        <button (click)="logout()" class="btn btn-outline-success my-2 my-sm-0" >Logout</button>  
                    </form>  
                </div>  
            </nav>
        </div>
    </div>
</div> -->
<div class="container-fluid login-screen">
    <div class="row" style="height: 100%;">
        <div class="col-12 mt-2" id="chat-box" style="height: 100%;">
            <div class="card" style="height: 100%;">
                <div class="card-body" style="padding-bottom: 5px;" style="height: 100%;">
                    <nav>
                      <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Active Chat</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false" (click)="getChatHistory()">History Chat</a>
                      </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" style="height: 100%;">
                        <div class="col-12 mt-2">
                            <div class="card">
                            <div class="card-header" style="padding-bottom: 5px;"><h4>Enter Youtube URL and Keywords to filter the comments.
                            </h4></div>
                                <div class="card-body" style="padding-bottom: 5px;">
                                    <form >
                                      <div class="form-group row">
                                        <div class="col-12 col-sm-6 col-md-5 mb-2">
                                            <input type="text" class="form-control" [(ngModel)]="youtubeUrl" id="youtubeurl" placeholder="Enter Youtube URL" name="youtubeurl" required/>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-5 mb-2">
                                            <input type="text" class="form-control" [(ngModel)]="youtubeKeywords" id="keywords" placeholder="Enter Keywords" name="keywords"/>
                                        </div>
                                        <div class="col-12 col-md-2 text-left text-md-right">
                                            <button class="btn btn-danger" (click)="getComments()">Search</button>
                                        </div>
                                      </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="p-2 mt-2 chat-window">
                            <div class="col-12" id="chatdata" #chatdata></div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" style="height: 100%;">
                        <div class="col-12 mt-2">
                            <div class="card">
                            <div class="card-header" style="padding-bottom: 5px;"><h4>Enter Keywords to filter the comments.
                            </h4></div>
                                <div class="card-body" style="padding-bottom: 5px;">
                                    <form >
                                      <div class="form-group row">
                                        <div class="col-12 col-sm-6 col-md-5 mb-2">
                                            <input type="text" class="form-control" [(ngModel)]="historyKeyword" id="keywordshistory" placeholder="Enter Keywords" name="keywordshistory"/>
                                        </div>
                                        <div class="col-12 col-md-2 text-left text-md-right">
                                            <button class="btn btn-danger" (click)="getChatHistory()">Filter</button>
                                        </div>
                                      </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                            <div class="p-2 mt-2 chat-window">
                                <div class="mb-2 chat-msg p-2" *ngFor="let item of chatHistory">{{item}}</div>
                            </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>