.btn-danger {
    background: #E32525;
}
.chat-window {
  height: 400px;
  overflow-y: auto;
  @media only screen and (max-width: 1400px) {
    height: 330px;
  }
}
.chat-window::-webkit-scrollbar {
   width: 10px;
}

.chat-window::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
   border-radius: 8px;
}

.chat-window::-webkit-scrollbar-thumb {
   border-radius: 8px;
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

@media only screen and (max-width: 748px) {
  body {
    background-color: #444;
  }
  .card-header h4 {
    font-size: 14px;
  }
  .card-body {
    padding-bottom: 0px !important;
  }
  #chat-box .card-body {
    padding-top: 5px;
    padding-bottom: 0px !important;
  }
  #nav-tabContent {
    height: 100%;
    overflow-y: auto;
}
}
.login-screen {
  height: 94.4%;
  @media only screen and (max-width: 1400px) {
    height: 91.4%;
  }
  @media only screen and (max-width: 600px) {
    height: 98%;
  }
  @media only screen and (max-width: 360px) {
    height: 100%;
  }
  @media only screen and (max-width: 320px) {
    height: 115%;
  }
}
.chat-msg {
  background: #fafafa;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 80%;
}