/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    width: 100%;
    background: #444;
}
.login-screen {
    background-image: url('./assets/images/dark-background.jpg');
    background-repeat: repeat;
    background-size: cover;
     padding-top: 1%;
  }